*.iso
*.xiso.iso
/doa3
/xboxrecomp
/burnout3
/cxbx
/doa2ugamefiles
/doa2u/bin
/doa2u/build
/doa2u/*.raw
/doa2u/*.bmp
/doa2u/*.png
/doa2u/*.csv
/doa2u-pc/*.log
/doa2u-pc/*.txt
/doa2u/doa2u_log.txt
/doa2u/xbox_kernel.log
/doa2u/*_err.txt
/doa2u/*_out.txt
